/*头部样式*/
.headerBg{
    height: 84px;
    background: #fff;
    border-bottom:1px solid #e3e5e6;
}
.logoImg{
    height: 84px;
    width: 112px;
}
.headerLogo{
    /*width: 554px;*/
}
.sideBar{
    width: 647px;
}
/*头部内容样式*/
.headerCon .sideBarMenu{
    height: 84px;
}
.headerBg .sideBar .sideBarMenu li,.sideBarButton a{
    height:84px;
    line-height: 84px;
}
.headerBg .sideBar .sideBarMenu li{
    padding: 0 20px;
    float: left;
}
.sideBarButton a{
    display: inline-block;
    text-align: center;
}
.regBtn{
    position:relative;
    background: #2e4e9d;
    width: 55px;
    height: 38px;
    margin-top: 20px;
    color: #fff
}
/*内容样式*/
.bodyMain{
    height: 800px;
    background: #f6f8fb;
}
/*页脚样式*/
.footerBg{
    height: 136px;
    background: #0b0e19;
}
/*友情链接样式*/
.friendlyLink{
    height:48px;
    background: #0b0e19;
}