/*头部样式*/
.headerBg{
    height: 84px;
    background: #fff;
    border-bottom:1px solid #e3e5e6;
}
.logoImg{
    height: 84px;
    width: 112px;
}
.headerLogo{
    /*width: 554px;*/
}
.sideBar{
    width: 647px;
}
/*头部内容样式*/
.headerCon .sideBarMenu{
    height: 84px;
}
.headerBg .sideBar .sideBarMenu li{
    height:84px;
    line-height: 84px;
}
.headerBg .sideBar .sideBarMenu li{
    padding: 0 20px;
    float: left;
}
.sideBarButton{
    padding-top: 30px;
}
.regBtn,.logBtn{
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    line-height: 31px;
    width: 53px;
    height: 30px;
    font-size: 14px;
}
.regBtn{
    background: #2e4e9d;
    color: #fff;
}
.logBtn{
    background: #f9f9f9;
    color: #323232;
    border: 1px solid #ccc;
    margin-left: 6px;
}
/*内容样式*/
.bodyMain{
    height: 800px;
    background: #f6f8fb;
}
.mapCon h2{
    padding: 50px 30px;
}
/*页脚样式*/
.footerBg{
    height: 136px;
    background: #0b0e19;
}
/*友情链接样式*/
.friendlyLink{
    height:48px;
    background: #0b0e19;
}